In [31]:
import numpy as np
import pandas as pd

In [32]:
data = pd.read_excel("DA -Task 2..xlsx", sheet_name=0)

In [33]:

# ðŸ”¹ Choose the columns you want to check
cols_to_check = ["VIN",
    "TRANSACTION_ID",
    "CORRECTION_VERBATIM",
    "CUSTOMER_VERBATIM",
    "REPAIR_DATE",
    "CAUSAL_PART_NM",
    "GLOBAL_LABOR_CODE_DESCRIPTION",
    "PLATFORM",
    "BODY_STYLE",
    "VPPC",
    "PLANT",
    "BUILD_COUNTRY",
    "LAST_KNOWN_DLR_NAME",
    "LAST_KNOWN_DLR_CITY",
    "REPAIRING_DEALER_CODE",
    "DEALER_NAME",
    "REPAIR_DLR_CITY",
    "STATE",
    "DEALER_REGION",
    "REPAIR_DLR_POSTAL_CD",
    "REPAIR_AGE",
    "KM",
    "COMPLAINT_CD_CSI",
    "COMPLAINT_CD",
    "VEH_TEST_GRP",
    "COUNTRY_SALE_ISO",
    "ORD_SELLING_SRC_CD",
    "OPTN_FAMLY_CERTIFICATION",
    "OPTF_FAMLY_EMISSIOF_SYSTEM",
    "GLOBAL_LABOR_CODE",
    "TRANSACTION_CATEGORY",
    "CAMPAIGN_NBR",
    "REPORTING_COST",
    "TOTALCOST",
    "LBRCOST",
    "ENGINE",
    "ENGINE_DESC",
    "TRANSMISSION",
    "TRANSMISSION_DESC",
    "ENGINE_SOURCE_PLANT",
    "ENGINE_TRACE_NBR",
    "TRANSMISSION_SOURCE_PLANT",
    "TRANSMISSION_TRACE_NBR",
    "SRC_TXN_ID",
    "SRC_VER_NBR",
    "TRANSACTION_CNTR",
    "MEDIA_FLAG",
    "VIN_MODL_DESGTR",
    "LINE_SERIES",
    "LAST_KNOWN_DELVRY_TYPE_CD",
    "NON_CAUSAL_PART_QTY",
    "SALES_REGION_CODE"]  # replace with your column names
# Count zeros in those columns
zeros_in_selected = (data[cols_to_check] == 0).sum()

print("Zeros in selected columns:\n", zeros_in_selected)

#  Total zeros across those columns
total_zeros_selected = (data[cols_to_check] == 0).sum().sum()
print("\nTotal zeros in selected columns:", total_zeros_selected)

Zeros in selected columns:
 VIN                                0
TRANSACTION_ID                     0
CORRECTION_VERBATIM                0
CUSTOMER_VERBATIM                  0
REPAIR_DATE                        0
CAUSAL_PART_NM                     0
GLOBAL_LABOR_CODE_DESCRIPTION      0
PLATFORM                           0
BODY_STYLE                         0
VPPC                               0
PLANT                              0
BUILD_COUNTRY                      0
LAST_KNOWN_DLR_NAME                0
LAST_KNOWN_DLR_CITY                0
REPAIRING_DEALER_CODE              0
DEALER_NAME                        0
REPAIR_DLR_CITY                    0
STATE                              0
DEALER_REGION                      0
REPAIR_DLR_POSTAL_CD               0
REPAIR_AGE                         3
KM                                 0
COMPLAINT_CD_CSI                 100
COMPLAINT_CD                       0
VEH_TEST_GRP                       0
COUNTRY_SALE_ISO                   0
ORD_SELLING_SRC_CD                 0
OPTN_FAMLY_CERTIFICATION           0
OPTF_FAMLY_EMISSIOF_SYSTEM         0
GLOBAL_LABOR_CODE                  0
TRANSACTION_CATEGORY               0
CAMPAIGN_NBR                       0
REPORTING_COST                     0
TOTALCOST                          0
LBRCOST                            0
ENGINE                             0
ENGINE_DESC                        0
TRANSMISSION                       0
TRANSMISSION_DESC                  0
ENGINE_SOURCE_PLANT                0
ENGINE_TRACE_NBR                   0
TRANSMISSION_SOURCE_PLANT          0
TRANSMISSION_TRACE_NBR             0
SRC_TXN_ID                         0
SRC_VER_NBR                        0
TRANSACTION_CNTR                   0
MEDIA_FLAG                         0
VIN_MODL_DESGTR                    0
LINE_SERIES                        0
LAST_KNOWN_DELVRY_TYPE_CD          0
NON_CAUSAL_PART_QTY               93
SALES_REGION_CODE                  0
dtype: int64

Total zeros in selected columns: 196

In [34]:
import numpy as np

data["REPAIR_AGE"] = data["REPAIR_AGE"].replace(0, np.nan)

In [35]:
data.isnull().sum()

VIN                                0
TRANSACTION_ID                     0
CORRECTION_VERBATIM                0
CUSTOMER_VERBATIM                  0
REPAIR_DATE                        0
CAUSAL_PART_NM                     5
GLOBAL_LABOR_CODE_DESCRIPTION      0
PLATFORM                           0
BODY_STYLE                         0
VPPC                               0
PLANT                              1
BUILD_COUNTRY                      0
LAST_KNOWN_DLR_NAME                0
LAST_KNOWN_DLR_CITY                0
REPAIRING_DEALER_CODE              0
DEALER_NAME                        0
REPAIR_DLR_CITY                    0
STATE                              2
DEALER_REGION                      0
REPAIR_DLR_POSTAL_CD               2
REPAIR_AGE                         3
KM                                 0
COMPLAINT_CD_CSI                   0
COMPLAINT_CD                       0
VEH_TEST_GRP                       2
COUNTRY_SALE_ISO                   0
ORD_SELLING_SRC_CD                 0
OPTN_FAMLY_CERTIFICATION          10
OPTF_FAMLY_EMISSIOF_SYSTEM         5
GLOBAL_LABOR_CODE                  0
TRANSACTION_CATEGORY               0
CAMPAIGN_NBR                     100
REPORTING_COST                     0
TOTALCOST                          6
LBRCOST                            0
ENGINE                             0
ENGINE_DESC                        0
TRANSMISSION                       0
TRANSMISSION_DESC                  0
ENGINE_SOURCE_PLANT               12
ENGINE_TRACE_NBR                  12
TRANSMISSION_SOURCE_PLANT         12
TRANSMISSION_TRACE_NBR            12
SRC_TXN_ID                         0
SRC_VER_NBR                        0
TRANSACTION_CNTR                   0
MEDIA_FLAG                         0
VIN_MODL_DESGTR                    0
LINE_SERIES                        1
LAST_KNOWN_DELVRY_TYPE_CD          2
NON_CAUSAL_PART_QTY                0
SALES_REGION_CODE                  0
dtype: int64

In [44]:
df = data.dropna(subset=[
    "REPAIR_AGE",
    "LAST_KNOWN_DELVRY_TYPE_CD",
    "LINE_SERIES",
    "TRANSMISSION_TRACE_NBR",
    "TRANSMISSION_SOURCE_PLANT",
    "ENGINE_SOURCE_PLANT",
    "ENGINE_TRACE_NBR",
    "TOTALCOST",
    "OPTF_FAMLY_EMISSIOF_SYSTEM",
    "OPTN_FAMLY_CERTIFICATION",
    "VEH_TEST_GRP",
    "REPAIR_DLR_POSTAL_CD",
    "STATE",
    "PLANT",
    "CAUSAL_PART_NM"
])

In [46]:
df[[
    "REPAIR_AGE",
    "LAST_KNOWN_DELVRY_TYPE_CD",
    "LINE_SERIES",
    "TRANSMISSION_TRACE_NBR",
    "TRANSMISSION_SOURCE_PLANT",
    "ENGINE_SOURCE_PLANT",
    "ENGINE_TRACE_NBR",
    "TOTALCOST",
    "OPTF_FAMLY_EMISSIOF_SYSTEM",
    "OPTN_FAMLY_CERTIFICATION",
    "VEH_TEST_GRP",
    "REPAIR_DLR_POSTAL_CD",
    "STATE",
    "PLANT",
    "CAUSAL_PART_NM"
]].isnull().sum()

REPAIR_AGE                    0
LAST_KNOWN_DELVRY_TYPE_CD     0
LINE_SERIES                   0
TRANSMISSION_TRACE_NBR        0
TRANSMISSION_SOURCE_PLANT     0
ENGINE_SOURCE_PLANT           0
ENGINE_TRACE_NBR              0
TOTALCOST                     0
OPTF_FAMLY_EMISSIOF_SYSTEM    0
OPTN_FAMLY_CERTIFICATION      0
VEH_TEST_GRP                  0
REPAIR_DLR_POSTAL_CD          0
STATE                         0
PLANT                         0
CAUSAL_PART_NM                0
dtype: int64

In [57]:
df.shape

(57, 52)

In [49]:
df[df.duplicated()]

Empty DataFrame
Columns: [VIN, TRANSACTION_ID, CORRECTION_VERBATIM, CUSTOMER_VERBATIM, REPAIR_DATE, CAUSAL_PART_NM, GLOBAL_LABOR_CODE_DESCRIPTION, PLATFORM, BODY_STYLE, VPPC, PLANT, BUILD_COUNTRY, LAST_KNOWN_DLR_NAME, LAST_KNOWN_DLR_CITY, REPAIRING_DEALER_CODE, DEALER_NAME, REPAIR_DLR_CITY, STATE, DEALER_REGION, REPAIR_DLR_POSTAL_CD, REPAIR_AGE, KM, COMPLAINT_CD_CSI, COMPLAINT_CD, VEH_TEST_GRP, COUNTRY_SALE_ISO, ORD_SELLING_SRC_CD, OPTN_FAMLY_CERTIFICATION, OPTF_FAMLY_EMISSIOF_SYSTEM, GLOBAL_LABOR_CODE, TRANSACTION_CATEGORY, CAMPAIGN_NBR, REPORTING_COST, TOTALCOST, LBRCOST, ENGINE, ENGINE_DESC, TRANSMISSION, TRANSMISSION_DESC, ENGINE_SOURCE_PLANT, ENGINE_TRACE_NBR, TRANSMISSION_SOURCE_PLANT, TRANSMISSION_TRACE_NBR, SRC_TXN_ID, SRC_VER_NBR, TRANSACTION_CNTR, MEDIA_FLAG, VIN_MODL_DESGTR, LINE_SERIES, LAST_KNOWN_DELVRY_TYPE_CD, NON_CAUSAL_PART_QTY, SALES_REGION_CODE]
Index: []

[0 rows x 52 columns]

In [50]:
df[df.duplicated(["VIN"])]

,VIN,TRANSACTION_ID,CORRECTION_VERBATIM,CUSTOMER_VERBATIM,REPAIR_DATE,CAUSAL_PART_NM,GLOBAL_LABOR_CODE_DESCRIPTION,PLATFORM,BODY_STYLE,VPPC,...,TRANSMISSION_TRACE_NBR,SRC_TXN_ID,SRC_VER_NBR,TRANSACTION_CNTR,MEDIA_FLAG,VIN_MODL_DESGTR,LINE_SERIES,LAST_KNOWN_DELVRY_TYPE_CD,NON_CAUSAL_PART_QTY,SALES_REGION_CODE
27,1HRFFHEL8RZ133325,13048,TECH WAS ABLE TO VERIFY CUSTOMERS CONCERN OF H...,CUST STS THE HEATED STEERING WHEEL WILL TURN O...,2024-01-15,WHEEL ASM-STRG *JET BLACK,Steering Wheel Replacement,Full-Size Trucks,Crew Cab,T1CCF,...,R2212792CKJX2218,2809440924,14,1,Y,CF10543,1500,15.0,0,1
94,3HRS9EED0LH255650,13041,REPLACED APPLIQUE,CUSTOMER STATES THE FINISH ON THE STEERING WHE...,2024-02-07,APPLIQUE ASM-STRG WHL TR SPOKE CVR *SYNTHESIS,Steering Wheel Spoke Cover Replacement,Full-Size Utility,4 Door Utility,T1YCF,...,S2222082CKJX2928,2820789029,4,1,N,CF10906,1500,10.0,0,1

In [52]:
# Keep the first occurrence and drop the rest
df = df.drop_duplicates(subset=["VIN"], keep='first')

In [55]:

# or
# Standardize all column names: strip spaces and make uppercase
df.columns = df.columns.str.strip().str.upper()

In [56]:
import pandas as pd

# List of numeric columns
numeric_cols = [
    'TRANSACTION_ID',
    'DEALER_REGION',
    'REPAIR_AGE',
    'KM',
    'COMPLAINT_CD_CSI',
    'ORD_SELLING_SRC_CD',
    'GLOBAL_LABOR_CODE',
    'CAMPAIGN_NBR',
    'REPORTING_COST',
    'TOTALCOST',
    'LBRCOST',
    'TRANSMISSION_SOURCE_PLANT',
    'SRC_TXN_ID',
    'SRC_VER_NBR',
    'TRANSACTION_CNTR',
    'LAST_KNOWN_DELVRY_TYPE_CD',
    'NON_CAUSAL_PART_QTY',
    'SALES_REGION_CODE'
]

# Detect and handle outliers using IQR method
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Option 1: Clip extreme values to bounds
    df[col] = df[col].clip(lower_bound, upper_bound)
    
    # Option 2 (Alternative): Remove rows with outliers
    # df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]

print("Outliers handled for numeric columns.")

Outliers handled for numeric columns.

In [58]:


# Save the cleaned DataFrame to Excel
output_file = "cleaned_data.xlsx"
df.to_excel(output_file, index=False)  # index=False avoids writing the row numbers

print(f"Updated Excel file saved as {output_file}")

Updated Excel file saved as cleaned_data.xlsx